* {
    background-color: rgb(241, 241, 241);

}

h1 {
    font-size: 100px;
    margin-left: 28%;
    text-shadow: 2px 2px 3px rgb(141, 141, 141);
margin-bottom: -100px;
}

#numero1 {
    margin-left: 230px;
    height: 150px;
    font-size: 130px;
    width: 150px;

}
#numero2 {
    margin-left: 500px;
    height: 150px;
    font-size: 130px;
    width: 150px;
    margin-top: 100px;
}

#somar {
    height: 100px;
    width: 100px;
    margin-left: -620px;
    margin-top: -10%;
    font-size: 90px;
}

#subtrair {
    height: 100px;
    width: 100px;
    margin-bottom: 100px;
    font-size: 90px
}

#multiplicar {
    height: 100px;
    width: 100px;
    margin-bottom: 100px;
    font-size: 90px
}

#dividir {
    height: 100px;
    width: 100px;
    margin-bottom: 100px;
    font-size: 90px
}
h3 {
    font-size: 100px;
    margin-left: 28%;
    text-shadow: 2px 2px 3px rgb(141, 141, 141);
}